[submodule "portfolio-frontend"]
    path = frontend
    url = https://github.com/jlpbiuma/portfolio-frontend

[submodule "portfolio-backend"]
    path = backend
    url = https://github.com/jlpbiuma/portfolio-backend
